
body{
    font-family: 'Oswald', sans-serif;
	background-color: white; 
}

header{
    background: #e093b7;
    padding: 25px 0;
}

.cabeçalho{
    position: relative;
    width: 800px;
    margin: 0 auto;
    
}

.cabeçalho img{
    width: 128px;
    height: auto;
}

nav{
    position: absolute;
    top: 60px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 5px 0 15px;
}

nav a{
    text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
    color: crimson;
    text-decoration: underline;
}

.banner{
    width: 50%;
    max-height: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.serviços{
    margin-bottom: 10px;

}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
    clear: left;
}

.principal{
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
	text-align:center;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;

}

.beneficios{
	padding: 3em 0;
	background:linear-gradient(black,white);

}

.conteudo-oferecimentos{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.lista-itens{
	width: 40%;
	display: inline-block;
	vertical-align: top;
    
}

.itens{
	line-height: 1.5;
    font-weight: bold;
}
 

.itens:before{
	content: "➢";
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 30px 0;
}

footer img{
	width: 128px;
	height: auto;
}

.copyright {
	color: #eca4e9;
	font-size: 13px;
	margin: 20px 0 0;
}

@media screen and (max-width: 1024px) {
	.cabeçalho, .principal, .serviços .conteudo-beneficios{
		width: 100%;

	}

	h1{
		text-align: center;
	}

	nav{
		position: static;
	}

	.lista-itens {
		width: 100%;
	}
}

