*{
    padding: 0;
    margin: 0;
    background-color: rgb(231, 231, 231)
}

#description, #title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: linear-gradient(to right, pink, rgb(231, 231, 231));
    font-family: courier,arial,helvetica;
    line-height: 0.5;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: courier,arial,helvetica;
    margin-top: 30px;
    
}

#survey-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: bolder;
   
    
}

input[type=text],[type=email],[type=number], select{
    padding: auto;
    width: 200px;
    height: 20px;
    border: 2px solid palevioletred;
    
}

#submit{
    background-color: thistle;
    width: 40%;
	padding: 15px 0;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border:none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
    margin-left: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer{
    text-align: center;
    margin-bottom: 200px;
    text-align: center;
    font-family: courier,arial,helvetica;
    font-weight: bold;
    color: purple;
}



